<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ShareSphere"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacebooklikeAndroid"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".feed.EditPost"
            android:exported="false" />
        <activity
            android:name=".feed.CreatePost"
            android:exported="false" />
        <activity
            android:name=".feed.Comments"
            android:exported="false" />
        <activity
            android:name=".feed.Profile"
            android:exported="false" />
        <activity
            android:name=".feed.Search"
            android:exported="false" />
        <activity
            android:name=".feed.Menu"
            android:exported="false" />
        <activity
            android:name=".feed.Feed"
            android:exported="false" />
        <activity
            android:name=".register.SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.FacebooklikeAndroid" />
        <activity
            android:name=".register.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>